body{
    background-color: rgb(58, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
}


.border-design{
    padding-top: 80px;
    justify-content: center;
    width: 500px;
    height: 100px;
    border: 2px solid rgb(66, 255, 208);
    border-radius: 20px;
    background-color: azure;
}

.input-num{
    display: flex;
    vertical-align: top;
    justify-content: center;
}
.user-input{
    border-radius: 30px;
    padding-left: 20px;
    margin-right: 20px;
    margin-left: 16px;
}

.answer-area{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.cal-btn{
    background-color: rgb(5, 5, 46);
    color: wheat;
    border-radius: 30px
}